* {
	box-sizing: border-box;
  }
  html,
  body {
	margin: 0;
	padding: 0;
  }
  body {
	display: flex;
	justify-content: none;
	align-items: center;
	flex-direction: column;
	background-color: #e1d261;
	color: #333;
	font-family: 'PT Sans', sans-serif;
	background-size: 100%;
	}
	@media (max-width: 500px){
		body{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: midnightblue;
			color:rgb(255, 255, 255);
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}
	}
  .header {
	text-decoration: underline;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: rgb(223, 164, 34);
	border-bottom: 1px solid rgb(247, 129, 129);
	width: 100%;
	height: 120px;
	margin-top: 44px;
	padding-bottom: 15px;
	} 
	@media (max-width:500px){
		.header {
		background-color: rgb(216, 112, 74);
		width: 95%;
		height: 100px;
		border-radius: 25px;
		}
	}
  .header h1 {
	font-size: 60px;
	font-family: Didot, serif;
	font-weight: bold;
	flex: 8;
	text-align: center;
	color: #000;
	}
	@media (max-width: 500px){
		.header h1 {
			font-size: 32px;
			padding-top: 20px;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			color: rgb(223, 164, 34)
		}
	}
  .header span {
	justify-content: left;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	}
	@media (max-width:500px){
		.header span {
			font-size: 15px;
		}
	}
  .header .date {
	margin-left: 25px;
	flex: 1;
  }
  .header .login {
		padding-right: 30px;
		text-decoration: none;
		color: green;
	}
	@media (max-width:500px){
		.header .login {
			padding-right: 20px;
		}
	}
	.type{
		font-size:17px;
		font-weight: bold;
	}
	@media (max-width:500px){
		.type {
			font-size: 15px;
		}
	}
  .tab{
	padding: initial;
	background: rgb(216, 112, 74);
	border: 1px dotted black;
	cursor: progress;
	display: none;
	}
	.change {
		display: block;
	}
	.tabs {
		width: 60%;
		color: rgb(123, 206, 225)
	}

#outer-container{
	display: table;
	width:97%;
	height: 100%;
}
#sidebar {
	display: table-cell;
	width: 20%;
	vertical-align: top;
}
#content{
	display: table-cell;
	width:80%;
	vertical-align: top;
}
.section{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(123, 206, 225);
	padding: 20px 20px 20px 0;
	text-align: left;
}
div a {
	color: rgb(123, 206, 225);
}
h2 {
	font-size: 40px;
	font-family: Didot, sans-serif;
	font-weight: 900;
	text-align: center;
	color:rgb(123, 206, 225);
}
@media (max-width: 500px){
	h2 {
		color: rgb(223, 164, 34);
		text-shadow: 
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000,
	}
}
h3 {
	font-size: 25px;
	text-align: center;
	color: rgb(235, 238, 239);
	font-weight: 100px;
}
a {
	text-decoration: none;
	color: red;
}
.content-section{
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
.content-section .text-content {
		width: 97%;
    padding: 0;
  }
}
.content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
.content-section .img-content {
    width: 97%;
    padding: 0;
  }
}
.content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
.content-section .img-content img {
    width: 97%;
  }
}
.inverse-content{
	padding-bottom: 30px;
}
.inverse-content .text-content {
	padding-left: 1%;
	padding-right: 0;
}
@media (max-width:500px){
	.inverse-content .text-content{
		order: 1;
	}
}
.inverse-content .img-content{
	padding-right: 1%;
	padding-left: 0;
}
@media (max-width: 500px){
	.inverse-content .img-content{
		order: 2;
	}
}
img {
	width:60%;
}
@media (max-width: 500px){
	img {
		width:100%;
		
	}
}
.link{
	cursor: progress;
}
p {
	color: rgb(255, 255, 255);
	border: #000;
	font-size: 20px;  
}