* {
	box-sizing: border-box;
  }
  html,
  body {
	margin: 0;
	padding: 0;
  }
  body {
	display: flex;
	justify-content: none;
	align-items: center;
	flex-direction: column;
	background-color: #e1d261;
	color: #333;
	font-family: 'PT Sans', sans-serif;
  }
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: rgb(223, 164, 34);
	border-bottom: 1px solid rgb(247, 129, 129);
	width: 100%;
	height: 120px;
	margin-top: 44px;
	padding-bottom: 15px;
  }
  .header h1 {
	font-size: 60px;
	font-family: Didot, serif;
	font-weight: bold;
	flex: 8;
	text-align: center;
	color: #000;
  }
  .header span {
	justify-content: left;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
  }
  .header .date {
	margin-left: 25px;
	flex: 1;
  }
  .header .login {
	  padding-right: 30px;
	}
	.type{
		font-size:17px;
	}
  .tab{
	padding: 5px 10px;
	background: rgb(216, 112, 74);
	border: 1px dotted black;
	cursor: pointer;
	}
	.tabs {
		width: 60%;
	}

#outer-container{
	display: table;
	width:97%;
	height: 100%;
}
#sidebar {
	display: table-cell;
	width: 20%;
	vertical-align: top;
}
#content{
	display: table-cell;
	width:80%;
	vertical-align: top;
}
.section{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: bold;
	display: inline;
}
.type {
	border-radius: 100px;
}
h2 {
	font-size: 40px;
	font-family: Didot, sans-serif;
	font-weight: bold;
	text-align: center;
	color:#000;
}
h3 {
	font-size; 30px;
}